#local .terraform directory
**/.terraform/* 

#Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl

#documents
*.doc

# Lambda directories
builds/
__pycache__/

*.log
